<% layout('layout/layout') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class ="container">
    <script src="/js/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                url: "/addToCart",
                method: 'GET',
                success: function(response){
                    var numOfItems = response.value;
                    var success = response.success;
                    if (success) {
                        if(numOfItems != 0)
                            document.querySelector('#cartNumber').innerHTML = numOfItems;
                    } else {
                        console.log("Failed to add to cart!");
                    }
                },
                error: function () {
                    //console.log("Error:" + error);
                    console.log("Error Failed to add to cart!");
                }
            });
        });
    </script>
    <% for(var i = 0; i < courses.length; i++) { %>
        <div class="row">
            <div class="col-md-3">
                <!--<div class="img-thumbnail">
                    <a href="#"><img src="images/video-icon.png" width="100%"></a>
                </div>-->
            </div>
            <div class="col-md-7">
                <div class="well">
                    <h4 id="course-header"><%= courses[i]["courseName"]%></h4>
                    <b>Faculty: </b><a href="/sampleVideo" data-toggle="modal" data-target="#myModal" data-yourparameter1='<%= courses[i]["facultyName"]%>'
                                       data-yourparameter2='<%= courses[i]["facultyQualification"]%>' data-yourparameter3='<%= courses[i]["facultyDescription"]%>'><%= courses[i]["facultyName"]%><br></a>
                    <video width="320" height="240" id="videoPlayer" controls="controls">
                        <source src='/sampleVideo?name=SampleVideo<%=i%>' type="video/webm">
                    </video>
                    <br>
                    <u>Course Details</u><br>
                    <div class="row">
                        <div class="col-md-5">
                            <b>Offered During: </b><%= courses[i]["season"]%><br>
                            <b>Offered At: </b><%= courses[i]["city"]%><br>
                        </div>
                        <div class="col-md-5">
                            <b>Cost: </b><%= courses[i]["price"]%>$<br>
                            <b>Maximum Capacity: </b><%= courses[i]["classSize"]%><br>
                        </div>
                    </div><br>
                    <p align="center"><a href="#" class="btn btn-primary" role="button" onclick="addToCart(<%= courses[i]["courseID"]%>)">Add to Cart <span class="glyphicon glyphicon-shopping-cart"/></a>
                        &nbsp;&nbsp;<a href="#" class="btn btn-primary" role="button">Purchase</a></p>
                </div>
            </div>
        </div>
        <br>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><strong>Faculty Name:</strong> <label id="facultyName"></label></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Qualification: </strong><label id="qualification"></label><br>
                            <strong>Description: </strong><label id="description"></label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <%}%>
</div>

